/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/*
Code Color From dark -> light
#000000 -> black
#14213d -> navy
#fca311; -> yellow
#e5e5e5 -> gray
#ffffff -> white
*/
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #000;
}

.container {
  max-width: 58rem;
  margin: 0 auto;
}

a,
p,
h1,
h2,
h3,
h4,
h5,
h6,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
li {
  padding-bottom: 0.6rem;
}

p {
  line-height: 1.5rem;
}

a {
  display: inline-block;
  text-decoration: none;
  color: #000;
  cursor: pointer;
  font-weight: 400;
}

h1 {
  font-size: 2rem;
  font-weight: 400;
}

h2 {
  font-size: 1.4rem;
  letter-spacing: 0.2rem;
}

label {
  display: block;
  padding: 0.6rem 0 3px;
}

.menubar li {
  display: inline-block;
}

.menubar a {
  padding: 10px 15px;
  font-weight: 400;
  color: #000;
  background-color: #fff;
  border: 1px solid #fff;
  letter-spacing: 0.1rem;
  -webkit-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
}

.menubar a:visited {
  color: #000;
  background-color: #fff;
  border: 1px solid #fff;
}

.menubar a:hover {
  color: #fff;
  background-color: #fca311;
  border: 1px solid #fca311;
}

.menubar a:active {
  color: #fff;
  background-color: #fca311;
  border: 1px solid #fca311;
}

button[type="submit"] {
  display: inline-block;
  margin-top: 0.6rem;
  padding: 0.6rem 1rem;
  border-radius: 0;
  border: 2px solid #fca311;
  color: #fff;
  background-color: #fca311;
  font-size: 1rem;
  font-family: inherit;
  cursor: pointer;
  -webkit-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
}

.button_download {
  display: inline-block;
  margin-top: 0.6rem;
  padding: 0.6rem 1rem;
  border-radius: 0;
  border: 2px solid #fca311;
  color: #fff;
  background-color: #fca311;
  font-size: 1rem;
  font-family: inherit;
  cursor: pointer;
  -webkit-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
}

.button_download:visited {
  color: #fca311;
  background-color: transparent;
}

.button_download:hover {
  color: #fca311;
  background-color: transparent;
}

.button_download:active {
  color: #fca311;
  background-color: transparent;
}

button[type="submit"]:visited {
  color: #fca311;
  background-color: transparent;
}

button[type="submit"]:hover {
  color: #fca311;
  background-color: transparent;
}

button[type="submit"]:active {
  color: #fca311;
  background-color: transparent;
}

.logo {
  padding-bottom: 0;
}

.logo img {
  max-width: 11.25rem;
}

.page_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 0 2rem;
}

.page_header .menubar {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 200px;
  flex: 0 1 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-flow: row-reverse wrap;
  flex-flow: row-reverse wrap;
}

.page_header .menubar:last-child {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.content_picture {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
}

.content_picture img {
  max-width: 19rem;
  height: auto;
  border-radius: 50%;
}

.profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 3.1rem 0;
  text-align: center;
}

.profile .content_para {
  padding: 0 2rem;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.content_para .letstart {
  margin-top: 1rem;
}

.yellow_btn a {
  padding: 15px 30px;
  background-color: #fff;
  border: 1px solid #fca311;
  display: inline-block;
  color: black;
  -webkit-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
}

.yellow_btn a:visited {
  color: black;
  background-color: #fff;
  border: 1px solid #fca311;
}

.yellow_btn a:hover {
  color: #fff;
  background-color: #fca311;
  border: 1px solid #fca311;
}

.yellow_btn a:active {
  color: #fff;
  background-color: #fca311;
  border: 1px solid #fca311;
}

.content_para h1 {
  letter-spacing: 0.2rem;
  line-height: 3rem;
}

.page_footer {
  clear: both;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.social_media a {
  margin: 0 5px;
}

.grid_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.grid_item {
  background-color: #fff;
  -webkit-box-flex: 33%;
  -ms-flex: 33%;
  flex: 33%;
  max-width: 33%;
  padding: 15px;
}

.page_title {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  position: relative;
  padding: 0 0 0 1rem;
}

.page_title::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 5px;
  height: auto;
  background: #fca311;
  left: 0;
}

.page_title span {
  display: block;
  font-size: 2.8rem;
  color: #fca311;
}

.content_padding {
  padding: 3.1rem 0;
}

.about_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about_content .yellow_btn {
  text-align: center;
}

.about_content .title_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 30%;
  flex: 1 1 30%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.about_content .content_section {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 70%;
  flex: 1 1 70%;
}

.about_content .content_section p {
  text-indent: 2rem;
}

.title_section {
  margin-bottom: 2rem;
}

.screenshort {
  text-align: center;
  margin-bottom: 1rem;
}

.screenshort img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

/* responsive style */
@media all and (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

@media all and (min-width: 1200px) and (max-width: 1400px) {
  .container {
    max-width: 1140px;
  }
}

@media all and (min-width: 992px) and (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
}

@media all and (min-width: 768px) and (max-width: 992px) {
  .container {
    max-width: 720px;
  }
}

@media all and (max-width: 992px) {
  .about_content,
  .profile {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .content_picture img {
    padding-bottom: 2rem;
  }

  .page_title span {
    display: inline-block;
    font-size: inherit;
  }

  .about_content .title_section {
    margin-bottom: 30px;
  }

  .grid_item {
    -webkit-box-flex: 50%;
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
    padding: 15px;
  }
}

@media all and (max-width: 768px) {
  h1 {
    font-size: 1.4rem;
  }

  .logo img {
    max-width: 9.3rem;
  }
}

@media all and (min-width: 576px) and (max-width: 768px) {
  .container {
    max-width: 540px;
  }
}

@media all and (max-width: 576px) {
  .container {
    max-width: 100%;
    padding: 0 2rem;
  }
}

@media all and (min-width: 425px) and (max-width: 768px) {
  /* waiting for content */
}

@media all and (max-width: 425px) {
  .grid_item {
    -webkit-box-flex: 100%;
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
    padding: 15px;
  }

  .content_picture img {
    max-width: 15rem;
  }
}
